extends project

block demo
	applet(code="TicTacToe3D" archive="/resources/cuboid.jar" width="450" height="400")
		| Java did not load


block projectName
	| Cuboid

block description
	p.
		This is a 3D version of TicTacToe/ConnectFour. Each turn, rotate the cube, then drop a piece in.
		Once placed, a piece will no longer move around within the cube. Get three in a row to win (no diagonals). <br>
		Tip: Each face of the cube has a different color.
	p.
		Player 1: O  <br>
		Player 2: X

	h4
		Controls

	p.
		Use arrow keys or the side buttons to rotate the cube.  <br>
		Click to place a piece.
	p.
		"Show depth" labels pieces on how deep they are in the cube. The far face is 3, the close face is 1.   <br>
		"Reset" starts a  new game

block links
	span
		a(href="https://github.com/dsschwarz/CuboidConnect") Github