extends layout

block head
	title About | Daniel Schwarz

block content
	div.pageName
		h1 About
	div.main.about
		p.
			I'm a programmer and outdoor enthusiast, currently studying Systems Design Engineering at uWaterloo.
			I spent my first 10 years of life in Pokhara, and loved it. Nepal is a beautiful country, with great food and culture, and breathtaking views of the Himalayas.
			Life was an adventure there, and I learnt to be adaptive - interesting situations arise often in a civil war.
			After the war ended, we returned home to Canada to a completely different life, with a whole new array of benefits.

		p.
			I continue to have a passion for traveling, adventures, and new experiences. I love to collect and create stories; they're the essence of life.
			Stories worth telling are the hallmark of a life worth living.

		p
			| After returning to Canada, I started dabbling in prgramming.
			| It was game development that initially got me interested in programming, and I still love it. I'm also into simulation software,
			| applying the equations governing the universe into a digital universe of my own. Check out the 
			a(href="/orbital") physics simulator 
			| for a taste.
