extends layout

block head
	title About | Daniel Schwarz

block content
	div.pageName
		h1 About
	div.main.about
		p.
			I'm a programmer and outdoor enthusiast, currently studying Systems Design Engineering at uWaterloo.
			I spent my first 10 years of life in Pokhara, Nepal.
			When the civil war ended in 2006, we returned to BC. Life became a fair bit more peaceful, but far from sedentary.

		p.
			I continue to have a passion for traveling, adventures, and new experiences.
			Stories worth telling are the hallmark of a life worth living.
			Collecting stories, and creating them, continues to inspire me to greater heights, and eventually, a Darwin Award

		p.
			Now that I'm trapped in Ontario, far from the ski slopes and hiking trails in BC, I've become a squash junkie. I love board games and card games,
			especially learning new ones. And I code.

		p
			| It was game development that initially got me interested in programming, and I still love it. I'm into simulation software, of the science flavor.
			| There's a certain magic in being able to apply the equations governing the universe into a digital universe of my own. Check out the 
			a(href="/orbital") physics simulator 
			| for a taste.

