<div class="resume">
  <table cellpadding="0" cellspacing="0" class="ltr1">
    <tbody>
      <tr>
        <!-- SIDE BAR -->
        <td id="side-bar">
            <div class="main-text">
                  <p class="title">DANIEL<br>SCHWARZ</p>
                  <p><span class="font8 heavy">Systems Design Engineering 2A</span></p>
                  <br>
                  <p><span class="font8">519 998 8289</span></p>
                  <p><span class="font8">dschwarz@uwaterloo.ca</span></p>
                  <p><span class="font8"><a href="http://www.dschwarz.ca">dschwarz.ca</a> </span></p>
                  <p class="fixed-height"><span></span></p>
                  <p class="fixed-height"><span></span></p>
                  <p class="subtitle"><span>Awards</span></p>
                  <h1><span>Governor General's Award</span><span class="descriptor">2012</span></h1>
                  <p><span>Graduating Student with highest GPA</span></p>
                  <p class="fixed-height"><span></span></p>
                  <h1><span>Top 3 Finalist, University
                    of the Fraser Valley Math
                    Contest
                    </span>
                    <span class="descriptor">2012</span>
                  </h1>
                  <p><span>Final round ~100 participants</span></p>
                  <p class="fixed-height"><span></span></p>
                  <h1><span>President's Scholarship of Distinction</span><span class="descriptor">2012</span></h1>
                  <p><span>Admission Average 95% or higher</span></p>
                </div>
        </td>

        <!-- MAIN RESUME -->
        <td class="main-col">
          <!-- SKILLS -->
        	<p class="subtitle"><span>SKILLS</span></p>
          
          <table cellpadding="5" cellspacing="5" class="ltr1">
            <tbody class="main-text">
            	<tr>
            		<td class="descriptor">Languages</td>
                  <td class="indented"><span>Python, C++, Javascript, Ruby, Actionscript</span></td>
              </tr>
              <tr>
            		<td class="descriptor">Other</td>
              	<td class="indented"><span>Flex, SQL, XML, HTML, CSS</span></td>
              </tr>
              <tr>
              	<td class="descriptor">Programs</td>
                <td class="indented"><span>AutoCAD, Eclipse, Flash CS5, Visual Studio</span></td>
              </tr>
              <tr>
              	<td class="descriptor">OS</td>
                <td class="indented"><span>Windows, iOS, and Linux</span></td>
              </tr>
             </tbody>
          </table><br>

          <!-- EXPERIENCE -->


          <p class="subtitle"><span>EXPERIENCE</span></p>
          <p class="fixed-height"><span class="heading"></span></p>

          <h1><span>Developer Analyst, Telus - Business Technology</span></h1>
          <h2 class="no-padding"><span>Burnaby, BC &mdash; 2013 September-December</span></h2>

          <p><ul>
            <li>Prototyped a web app to manage queues</li>
            <li>Gave multiple presentations to gain visibility for our project
            <ul><li>Resulted in project being taken to production</li></ul></li>
            <li>Practiced complete agile/scrum methodology</li>


          </ul></p>


          <h1><span>Application Developer, Communitech AppsFactory</span></h1>
          <h2 class="no-padding"><span>Kitchener, Ontario &mdash; 2013 January-April</span></h2>

          <p><ul>
            <li>Created web and mobile app prototypes for clients</li>
            <li>Used Ruby on Rails, Node.js, and Django for web</li>
            <li>Used Phonegap and Flex for mobile</li>
            <li>Practised agile development methods</li>
          </ul></p>


          <h1><span>Assembly Worker, Baer Woodworking Ltd</span></h1>
          <h2 class="no-padding"><span>Chilliwack, BC &mdash; 2011-2012</span></h2>
          <p><ul>
           <li> Operated a large number of different woodworking machines</li>
            <li>Used spare time to learn function of other machines</li>
            <li>Made minor fixes around the factory</li>
            <li>Learnt how to make minor repairs to machines</li>
          </ul></p>

          <h1><span>Childcare Worker, Central Community Church</span></h1>
          <h2 class="no-padding"><span>Chilliwack, BC &mdash; 2009-2011</span></h2>
          <p><ul>
            <li>Supervised children, leading them in discussions and crafts</li>
            <li>Coordinated with a team to plan events and sessions</li>
          </ul></p>


          <!-- PROJECTS -->

          <p class="subtitle"><span>PROJECTS</span></p>

          <p class="fixed-height"><span class="heading"></span></p>

          <h1><span>Oscar eForms</span></h1>
          <h2 class="no-padding"><span>Medical Record System</span></h2>
          <p><span>Oscar is the electronic medical record system used by many practices in BC. Created scripts to auto-populate forms with a patient's data, streamlining the process for doctors using the system. </span></p>

          <br>
          <h1><span>Scrumline</span></h1>
          <h2 class="no-padding"><span>Rails Web App</span></h2>
          <p><span>Scrumline is an online collaboration organizer, based around agile development principles. It allows tasks to be broken down into smaller subtasks, ad infinitum. Quick navigation was a key focus during the design, allowing users to see an overview of any project or task, and navigate to any page, with only a few clicks. </span></p>

          <br>
          <h1><span>Equilibrium and 4D Orbiter Simulators</span></h1>
          <h2 class="no-padding"><span>Actionscript</span></h2>
          <p><span>These two simulators are made by applying the laws of chemistry and physics, respectively, in programming. With a high enough framerate, or slow simulating speed, they can simulate reactions and orbits with great precision. A user is able to access an incredible amount of customization and data. </span></p>

          <br>
          <h1><span>3D Connect</span></h1>
          <h2 class="no-padding"><span>C++ and Java</span></h2>
          <p><span>A mentally stimulating game of visualization and strategy, based off tic-tac-toe. The 'board' is a rotating cube, and players take turns dropping pieces into it and rotating it, trying to get three in a row. It's anything but easy.</span></p>
          <p class="fixed-height"><span></span></p>
          <p class="fixed-height subtitle"></a></p>
          <p class="subtitle"><a name="h.cmqshvdtayu1"></a><span>EDUCATION</span></p>
          <p class="fixed-height"><span class="heading"></span></p>
          <h1><span>University of Waterloo</span></h1>
          <h2 class="no-padding"><span>Candidate for BASc</span></h2></p>
        </td>
      </tr>
    </tbody>
  </table>
</div>