<div class="resume">
  <table cellpadding="0" cellspacing="0" class="ltr1">
    <tbody>
      <tr>
        <span class="title">DANIEL SCHWARZ</span>
      </tr>
      <tr>
        <!-- SIDE BAR -->
        <td id="side-bar">
            <div class="main-text">
                  <p><span class="heavy">Systems Design Engineering 2A</span></p>
                  <br>
                  <p><span>519 998 8289</span></p>
                  <p>dschwarz@uwaterloo.ca</p>
                  <p><a href="http://www.dschwarz.ca">dschwarz.ca</a></p>
                  <p class="fixed-height"><span></span></p>
                  <p class="fixed-height"><span></span></p>

                  <!-- SKILLS -->
                  <p class="sectionHeader"><span>SKILLS</span></p>

                  <table cellpadding="5" cellspacing="5" class="ltr1">
                    <tbody class="main-text">
                      <tr>
                        <td class="descriptor">Languages</td>
                        <td class="indented"><span>JavaScript, Python, C++, Ruby, ActionScript, Java</span></td>
                      </tr>
                      <tr>
                        <td class="descriptor">Frameworks</td>
                        <td class="indented"><span>Meteor.js, Express with Node.js, Ruby on Rails, Flex</span></td>
                      </tr>
                      <tr>
                        <td class="descriptor">Software</td>
                        <td class="indented"><span>AutoCAD, Eclipse, Flash Builder, Visual Studio</span></td>
                      </tr>
                      <tr>
                        <td class="descriptor">Other</td>
                        <td class="indented"><span>Agile Methodology</span></td>
                      </tr>
                    </tbody>
                  </table><br>

                  <div class="awards">
                    <p class="sectionHeader"><span>AWARDS</span></p>
                    <div>
                      <div class="descriptor">2012</div>
                      <div class="sideTitle">
                      <h1>Governor General's Academic Medal</h1>
                      </div>
                    </div>
                    <p style="clear:both"><span>Graduating Student with highest GPA</span></p>
                    <br>


                    <div>
                      <span class="descriptor">2012</span>
                      <div class="sideTitle">
                        <h1>Top 3 Finalist, University
                      of the Fraser Valley Math
                      Contest</h1>
                      </div>
                    </div>
                    <br>

                    <div>
                      <span class="descriptor">2012</span>
                      <div class="sideTitle">
                        <h1>President's Scholarship of Distinction</h1>
                      </div>
                    </div>
                    <p><span>Admission Average 95% or higher</span></p>
                    <br>
                    <br>

                    <!-- EDUCATION -->
                    <p class="sectionHeader">EDUCATION</p>
                    <h1><span>University of Waterloo</span></h1>
                    <div>Candidate for B.A.Sc in Systems Design Engineering, 2017</div>
                    <h1>Courses</h1>
                    <span>Data Structures and Algorithms, Digital Systems, Digital Computation</span>
                  </div>
                </div>
        </td>

        <!-- MAIN RESUME -->
        <td class="main-col">
          

          <!-- EXPERIENCE -->
          <p class="sectionHeader"><span>EXPERIENCE</span></p>

          <h1><span>Developer Analyst, Telus</span></h1>
          <h2 class="no-padding"><span>Burnaby, BC &ndash; 2013 September-December</span></h2>

          <p>
            <ul>
              <li>Developed a prototype Meteor web app to manage customer queues</li>
              <li>Presented project to potential users
              <li>Deployed customized implementation of application to interested departments</li>
              <li>Delivered and deployed at a rapid pace using Agile framework</li>
            </ul>
          </p>


          <h1><span>Application Developer, Communitech AppsFactory</span></h1>
          <h2 class="no-padding"><span>Kitchener, Ontario &ndash; 2013 January-April</span></h2>

          <p><ul>
            <li>Worked closely with clients to create web and mobile app prototypes</li>
            <li>Developed in-house apps using Ruby on Rails and Node.js</li>
            <li>Incorporated changing requirements smoothly using agile development methods</li>
          </ul></p>
          <br>
          <!-- PROJECTS -->

          <p class="sectionHeader"><span>PROJECTS</span></p>

          <h1><span>Oscar eForms</span></h1>
          <h2 class="no-padding"><span>Medical Record System</span></h2>
          <p><span>Oscar is the electronic medical record system used by many practices in BC. Created scripts to auto-populate forms with a patient's data, streamlining the process for doctors using the system. </span></p>
          
          <br>
          <h1><span>Falling Frenzy</span></h1>
          <h2 class="no-padding"><span>Multiplayer Javascript Game</span></h2>
          <p><span>This is a fun, fast-paced arcade game, built for multiple players at a single computer. Powerups and points fall from the sky, and players compete to catch them.</span></p>

          <br>
          <h1><span>Equilibrium and 4D Orbiter Simulators</span></h1>
          <h2 class="no-padding"><span>Actionscript</span></h2>
          <p><span>These two simulators are made by applying the laws of chemistry and physics, respectively, in programming. With a high enough framerate, or slow simulating speed, they can simulate reactions and orbits with great precision. A user is able to access an incredible amount of customization and data. </span></p>

          <br>
          <h1><span>Cuboid Connect</span></h1>
          <h2 class="no-padding"><span>C++ and Java</span></h2>
          <p><span>A mentally stimulating game of visualization and strategy, based off tic-tac-toe. The 'board' is a rotating cube, and players take turns dropping pieces into it and rotating it, trying to get three in a row. It's anything but easy.</span></p>
        </td>
      </tr>
    </tbody>
  </table>
</div>