.resume {
	width:1000px;
	font-size: 14pt;
	background: url(/images/background_straws.png) repeat 0 0;
}


.resume h1 {
	padding-top:0;
	line-height:1.0;
	text-align:left;
	color:#222;
	font-size:18pt;
	font-family:Arial;
	font-weight:700;
	padding-bottom:0;
}

.resume h2 {
	line-height:1.15;
	text-align:left;
	color:#555;
	font-size: 16pt;
	font-family:Arial;
	padding-bottom:4pt;
}

.descriptor {
	color: #777;
	text-align: right;
	display: block;
}

.main-col {
	vertical-align:top;
	width:550px;
	padding: 40px;
}

#side-bar {
	vertical-align:top;
	width:400px;
	height: 100%;
	background-color: #dde;
	padding:10px;
}
.styled-list {
	list-style-type:disc;
	margin:0;
	padding:0;
}

.no-padding {
	line-height:1.0;
	padding-top:0;
	padding-bottom:0;
}

.heading {
	color:#a61c00;
	font-weight:700;
}

.indented {
	padding-left:0;
	margin-left:36pt;
}

.c8 {
	line-height:1.0;
}

.fixed-height {
	height:10pt;
}

.heavy {
	font-weight:700;
}

.resume .title {
	padding-top:10px;
	padding-left:10px;
	line-height:1.15;
	text-align:left;
	color:#000;
	font-size:40pt;
	font-family:Arial;
	font-weight:700;
}

.resume p {
	color:#666;
	font-family:Arial;
	margin:0;
}

.resume .sectionHeader {
	padding-top:0;
	line-height:1.15;
	text-align:left;
	color:#226;
	font-size:22pt;
	font-family:Arial;
	font-weight:700;
	padding-bottom:0;
}

.resume .sideTitle {
	width: 300px !important; // Side bar is 400px
	float: left;
}

.awards .descriptor {
	float: right;
	font-size: 16pt;
}


.resume li, .main-text {
	color:#666;
	font-family:Arial;
}