.resume {
	width: 770px;
	background: url(/images/background_straws.png) repeat 0 0;
}


.resume h1 {
	padding-top:0;
	line-height:1.0;
	text-align:left;
	color:#000;
	font-size:10pt;
	font-family:Arial;
	font-weight:700;
	padding-bottom:0;
}

.resume h2 {
	line-height:1.15;
	text-align:left;
	color:#666;
	font-size:9pt;
	font-family:Arial;
	padding-bottom:4pt;
}

.descriptor {
	color: #aaa;
	text-align: right;
	display: block;
}

.main-col {
	vertical-align:top;
	width:550px;
	padding: 40px;
}

#side-bar {
	vertical-align:top;
	width:220px;
	height: 100%;
	background-color: #ddd;
	padding:7.2pt;
}

#awards .descriptor {
	float: right;
}
.styled-list {
	list-style-type:disc;
	margin:0;
	padding:0;
}

.no-padding {
	line-height:1.0;
	padding-top:0;
	padding-bottom:0;
}

.heading {
	color:#a61c00;
	font-weight:700;
}

.indented {
	padding-left:0;
	margin-left:36pt;
}

.font8 {
	font-size:8pt;
}

.c8 {
	line-height:1.0;
}

.fixed-height {
	height:10pt;
}

.heavy {
	font-weight:700;
}

.resume .title {
	padding-top:0;
	line-height:1.15;
	text-align:left;
	color:#000;
	font-size:16pt;
	font-family:Arial;
	font-weight:700;
	padding-bottom:0;
}

.resume p {
	color:#666;
	font-size:9pt;
	font-family:Arial;
	margin:0;
}


.subtitle {
	padding-top:0;
	line-height:1.15;
	text-align:left;
	color:#a61c00 !important;
	font-size:11pt;
	font-family:Arial;
	font-weight:700;
	padding-bottom:0;
}

.resume li, .main-text {
	color:#666;
	font-size:9pt;
	font-family:Arial;
}