body {
	margin: 0px;
	background-color: #eeeeee;
}

a {
  color: #069;
  text-decoration: none;
}

#side-nav {
	position: absolute;
	width: 207px;
    background-color: #54a7cf;
	top: 0px;
	padding: 50px 0 50px 0;
}
#side-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
    width: auto;
    height: auto;
}

#side-nav li a {
	text-shadow: 0px 1px 0px rgba(200,200,255,.5);
	color: #111;
	width: 98%;
	height: 1.75em;
	line-height: 1.75em;
	text-indent: 1.5em;
	font-size: 1.25em;
	display: block;
	position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-color: #3497bf;
    border-width: 1px;
    border-bottom-style: solid;
	-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.15);
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.15);
}
#side-nav li > a:hover {
    background-color: #64b7df;
}
#side-nav li > a.active {
	/* Set to white, with dark borders top and bottom */
	background-color: #eeeeee;
	border-radius: 0px;
	border-style: solid none solid none;

}

#content {
	font-family: "HelveticaNeu Light";
	margin-left: 207px;
	border-top: solid 5px #54a7cf;
}


.project-info {
	float:right;
	min-width: 300px;
}

.demo {
	float:left;
	margin-right: 50px;
}

.bordered {
	border: 2px solid;
}

.pageName {
	margin: 0px;
	padding: 0px;
	width: 100%;
	background-color: #333;
}

.pageName h1 {
	margin: 0px;
	padding: 10px;
	color: #ddd;
}

#content .main {
	margin: 30px;
}

.about {
	width: 50%;
	font-size: 13pt;
}